head {
	font-family: 'PT serif';
	font-style: normal;
}
body {
	background-color: #ffb380;
	color: black;
}
h1 {
	font-family: Lobster;
	font-style: normal;
	font-size: normal;
}
section {
	background-color: black;
	font-family: 'Times New Roman', Times, serif;
	font-style: normal;
}
div {
  border-style: double;
}
.title__transfer {
	padding: 5px;
	/*font-style: italic;*/
}
footer {
	font-style: italic;
	color: blue;
}
button {
	color: red;
}